[submodule "parsedown"]
	path = parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "minecraft-gradient"]
	path = minecraft-gradient
	url = https://github.com/shykeiichi/minecraft-gradient
