@tailwind base;
@tailwind components;
@tailwind utilities;

.border-b-expand {
    display:inline-block;
    margin:0;
}
.border-b-expand:after {
    display:block;
    content: '';
    border-bottom: solid 3px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.border-b-expand:hover:after {
    transform: scaleX(1);
}

.projects-container {
    position: relative;
    overflow: hidden;
    @apply bg-red;
}

.projects-image {
    position: absolute;
    rotate: 8deg;
    border-radius: 24px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all;
    transition-duration: 300ms;

    --hover-distance: 24px;
}

.projects-container:hover .projects-image-1 {
    transform: translateY(calc(var(--hover-distance) * -1));
}

.projects-container:hover .projects-image-2 {
    transform: translateX(calc(var(--hover-distance) * -1));
}

.projects-container:hover .projects-image-3 {
    transform: translateX(var(--hover-distance));
}

.projects-container:hover .projects-image-4 {
    transform: translateY(var(--hover-distance));
}

.projects-image-1 {
    width: 629px;
    height: 315px;
    object-position: 0%;
    right: -80px;
    top: 55px;
}

.projects-image-2 {
    width: 629px;
    height: 315px;
    object-position: 100%;
    left: -190px;
    top: 380px;
}

.projects-image-3 {
    width: 293.5px;
    height: 439.12px;
    object-position: 100%;
    right: -140px;
    top: 440px;
}

.projects-image-4 {
    width: 448.66px;
    height: 252.35px;
    object-position: 100%;
    left: -238px;
    top: 745px;
}


.link-expand-button-container:hover .link-expand-button::before {
    content: attr(data-tag);
    padding-right: 0.75rem;
    opacity: 1;
}

.link-expand-button-container .link-expand-button::before {
    opacity: 0;
    transition:1s;
}

.link-expand-button {
    overflow-x: hidden;
}

.gitlab-repo {
    transition: all;
    transition-duration: 300ms;
    position: relative;
}

.gitlab-repo:hover {
    gap: 1rem;
}
